BasedOnStyle: WebKit
BreakBeforeBraces: Allman
CompactNamespaces: false
Cpp11BracedListStyle: false
AllowShortLambdasOnASingleLine: All
IndentCaseBlocks: true
LambdaBodyIndentation: Signature
Language: Cpp
NamespaceIndentation: All
PointerAlignment: Right
ReflowComments: true
SortIncludes: CaseSensitive
SortUsingDeclarations: true
SpaceAfterCStyleCast: true
SpaceAfterTemplateKeyword: false
SpacesInConditionalStatement: false
SpacesInParentheses: false
Standard: Latest
AlignArrayOfStructures: Right
TabWidth: 4
UseTab: Always
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeElse: true
  BeforeWhile: false
  BeforeCatch: false
  BeforeLambdaBody: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
  AfterControlStatement: Always
